.main_content {
    margin-top: 150px;
}


.right_info_column {
    background: #000929;
    width: 333px;
    height: 530px;
    padding: 30px;
    margin-left: 30px;
}


.right_info_column h3{
    width: 92px;
    height: 40px;
    color: #E9AA52;
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 30px;
}


.right_info_column h4{
    color: #FFFEFD;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}


.right_info_column p{
    width: 279px;
    height: 27px;
    color: #FFFEFD;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 15px;
}


hr {
    width: 279px;
    height: 5px;
    background: #FFFCFC;
    margin-bottom: 40px;
    border-bottom: 3px solid #FFFCFC;
}


.center_info_column {
    width: 341px;
    height: 115px;
    color: #000;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


h1 {
    color: #000;
    font-family: Inter;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}


.bottom_main_row {
    padding-top: 40px;
    margin-bottom: 15px;
}


.read_more_button {
    width: 150px;
    height: 50px;
}


button {
    flex-shrink: 0;
    background: #000929;
    flex-shrink: 0;
    color: #FFFCFC;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


.about {
    padding-bottom: 20px;
}


